/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: #e0e0e0;
}
.mat-card {
  margin: 20px 10px;
  font-size: 24px;
}
